extra-streamlit-components==0.1.60
streamlit==1.29.0
streamlit-authenticator==0.1.5
streamlit-autorefresh==0.0.1
streamlit-echarts==0.4.0
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
streamlit-player==0.1.5
streamlit-toggle-switch==1.0.2
pickleshare==0.7.5
cloudpickle==1.6.0
Pillow==9.2.0
openpyxl==3.0.9
Spire.Xls==13.9.0
